.list{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 10px;
}
.item{
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}