.table{
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
    margin-left: 10px;
}
.head {
    color: white;
    background-color: rgba(0, 0, 0, 0.779);
    border: 1px solid black;
}
.headText{
   padding: 4px;
}
.bodyText{
border: 1px solid black;
padding: 4px 0;
text-transform: capitalize;
text-align: center;
}
.bodyItem:nth-child(even) {
background-color: rgb(177, 174, 174);
}